@charset "UTF-8";
/* 样式清除 */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

/* topbar */
.topbar {
  padding: 0 140px;
  height: 48px;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3), 0 0 6px 2px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.94); }

.topbar,
.left,
.left .searchbar,
.right,
.right ul,
.right li,
.right .login {
  display: flex;
  align-items: center; }

.topbar .logo,
.topbar .icon,
.topbar li,
.topbar .signin,
.topbar .signup {
  cursor: pointer; }

.topbar .logo:hover,
.topbar .icon:hover,
.topbar li:hover,
.topbar li:hover .iconfont,
.topbar .signin:hover,
.topbar .signup:hover {
  color: #eb7350; }

.topbar {
  justify-content: space-between;
  border-top: 2px solid #fa7d3c; }

.searchbar .icon {
  color: #696e78;
  line-height: 28px; }

.searchbar .iconfont {
  font-size: 18px; }

.left .logo {
  /* 12 - 6 */
  margin-right: 69px;
  margin-bottom: 6px;
  width: 80px;
  height: 27px;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/global_nav/WB_logo-x2.png?id=1404211047727);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 27px; }

.topbar .searchbar {
  position: relative; }

.searchbar input {
  box-sizing: border-box;
  padding: 0 33px 0 10px;
  width: 220px;
  height: 30px;
  text-overflow: ellipsis;
  background-color: #f2f2f5;
  border: 1px solid #cccccc; }

.searchbar input:focus {
  background-color: #fff;
  border: 1px solid #fa7d3c;
  outline: none; }

.searchbar .icon {
  position: absolute;
  margin: auto;
  padding-top: 2px;
  top: 0;
  right: 10px;
  bottom: 0; }

.right {
  color: #333;
  font-size: 14px; }

.right li {
  margin-left: 27px; }

.right .icon {
  margin-bottom: 2px;
  margin-right: 5px;
  width: 22px;
  height: 22px; }

.right .icon .iconfont {
  color: #696e78;
  font-size: 22px; }

.right .login {
  margin-left: 34px; }

.right .line {
  /* margin: 0 15px; */
  width: 1px;
  height: 14px;
  background-color: #d9d9d9; }

.right .signin,
.right .signup {
  margin: 0 15px; }

@charset "UTF-8";
/* banner */
.banner {
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  width: 920px;
  height: 291px;
  color: #fff;
  background-image: url(https://img.t.sinajs.cn/t5/skin/public/profile_cover/001.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain; }

.banner .usernumber {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center; }

.banner .usernumber .text {
  margin-right: 10px;
  padding: 0 8px;
  font-size: 12px;
  color: #e7e4e4;
  background-color: rgba(0, 0, 0, 0.25);
  height: 22px;
  border-radius: 11px;
  line-height: 22px; }

.banner .usernumber .icon {
  width: 30px;
  height: 30px;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/pagecard/icon_profile-x2.png?id=201409041250);
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 60px 30px; }

.banner .usernumber .icon:hover {
  background-position: -30px; }

.banner .avatar {
  padding-top: 41px; }

.banner .avatar .avatar-bg {
  position: relative;
  margin: 0 auto;
  width: 110px;
  height: 110px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%; }

.banner .avatar .avatar-bg > img {
  padding-top: 4px;
  width: 102px;
  height: 102px;
  border-radius: 50%; }

.banner .avatar .vip {
  position: absolute;
  bottom: 8px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/common/icon-x2.png?id=172020181229);
  background-position: -125px -100px;
  background-repeat: no-repeat;
  background-size: 625px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); }

.banner .username {
  margin-top: 5px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center; }

.banner .username .text,
.banner .desc {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.banner .username .icon {
  margin: 0 3px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #f084b4; }

.banner .username .icon:last-child {
  padding-top: 8px;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/common/icon-x2.png?id=172020181229);
  background-position: -24px -114px;
  background-repeat: no-repeat;
  background-size: 615px; }

.banner .desc {
  margin-top: 6px;
  margin-bottom: 18px;
  text-align: center;
  font-size: 12px; }

.banner .btns {
  display: flex;
  justify-content: center;
  height: 37px; }

.banner .btns [class^='btn-'] {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); }

.banner .btns .btn-hastext {
  width: 104px;
  text-align: center;
  font-size: 14px;
  line-height: 37px; }

.banner .btns .btn-orange {
  border-radius: 2px;
  margin: 0 3px;
  background: linear-gradient(to bottom, #eb824a, #e56930); }

.banner .btns .btn-gray {
  border-radius: 2px;
  margin: 0 5px;
  background-color: #676b74; }

.banner .btns .btn-icon {
  line-height: 37px;
  text-align: center; }

.banner .btns .dropdown {
  width: 24px;
  font-size: 14px; }

.banner .btns .list {
  width: 34px;
  font-size: 17px; }

.banner .btns .focus .iconfont {
  font-size: 12px; }

.banner .vip,
.banner .icon-level,
.banner .btns .btn-orange:hover,
.banner .btns .btn-gray:hover {
  cursor: pointer; }

.banner .btns .btn-orange:hover {
  background: linear-gradient(to top, #f4722e 0%, #f05807 100%); }

.banner .btns .btn-gray:hover {
  background: linear-gradient(to top, #5f636d 0%, #535861 100%); }

/**
之后补充的内容：
1. .username 和 .desc 的字体阴影；
2. .usernumber .text 加了line-height: 22px;使其上下居中；
3. .usernumber .text 修改了字体颜色为#e7e4e4；
4. 增加了四个操作按钮的hover状态；
5. 简化了四个按钮的样式；
6. 增加按钮box-shadow
*/
.banner .banner-menu,
.banner .banner-hint {
  border-radius: 2px;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font-size: 14px;
  color: #333; }

.banner .list {
  position: relative; }

.banner .banner-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 39px;
  padding: 2px;
  width: 130px; }

.banner .banner-menu li {
  padding: 0 14px;
  height: 34px;
  text-align: left; }

.banner .banner-menu li:hover {
  color: #eb7350;
  background-color: #e6e6e6; }

.banner .btns {
  position: relative; }

.banner .banner-hint {
  position: absolute;
  top: -40px;
  left: -38px;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 0 25px 0 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.banner .banner-hint.none {
  display: none; }

.banner .banner-hint .icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/common/icon-x2.png?id=172020181229);
  background-repeat: no-repeat;
  background-size: 615px;
  background-position: -343px -98px; }

.banner .banner-hint .triangle {
  position: absolute;
  bottom: -8px;
  width: 10px;
  height: 8px;
  /* background-image: url(../imgs/banner-hint-triangle.jpg); */
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 1px solid red; */ }

main {
  margin: 0 auto;
  margin-top: 16px;
  width: 920px;
  /* height: 200px; */
  display: flex; }

.main-left {
  flex-shrink: 0;
  margin-right: 20px;
  width: 300px;
  height: 100%;
  /* border: 1px solid red; */ }

.main-right {
  flex: 1;
  height: 100%;
  /* border: 1px solid red; */ }

.panel {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: #333; }

.panel-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  border-bottom: 1px solid #f2f2f5;
  font-size: 14px; }

.panel-header b {
  color: #fd8149; }

.panel-footer {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  cursor: pointer; }

.panel-footer:hover {
  color: #d29510; }

.panel {
  margin-bottom: 16px; }

.main-left .panel-footer .icon {
  margin-left: 3px; }

.main-left .panel-footer .iconfont {
  color: #333; }

.main-left .panel-container {
  padding: 15px 16px; }

.main-left .panel-container .flower .fl-info {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.fl-info .fl-info-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%; }

.fl-info .fl-info-text {
  margin-bottom: 12px; }

.fl-info .fl-info-btn {
  padding: 0 10px;
  /* width: 70px; */
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  color: #fff;
  border-radius: 2px;
  background-color: #fd8149;
  border: 1px solid #f77c3d; }

.main-left .fl-rule {
  margin-bottom: 13px;
  color: #808080; }

.main-left .fl-ranking a {
  color: #d29510;
  float: right; }

.flower {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9; }

.main-left .panel .ranking .ranking-title {
  margin-top: 11px;
  margin-bottom: 7px; }

.main-left .ranking .item-avatar {
  margin-right: 12px; }

.main-left .ranking .item-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%; }

.main-left .ranking .ranking-item {
  display: flex;
  align-items: center;
  height: 59px; }

.ranking-item .item-icon {
  margin-right: 6px;
  width: 25px;
  height: 37px;
  background-image: url(https://img.t.sinajs.cn/t4/appstyle/vip_v2/images/apps_PRF/fansclub/fc_newrank.png?id=14000636194407501);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0px 3px; }

.ranking-item .item-userinfo {
  padding-bottom: 12px; }

.ranking-item .item-userinfo .icon {
  display: inline-block;
  margin-left: 12px;
  width: 19px;
  height: 19px;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/common/icon-x2.png?id=172020181229);
  background-position: -24px -19px;
  background-repeat: no-repeat;
  background-size: 615px; }

.ranking-item:nth-child(3) .item-icon {
  background-position: 0px -32px; }

.ranking-item:nth-child(4) .item-icon {
  background-image: none;
  text-align: center;
  line-height: 37px;
  font-size: 16px; }

.ranking-item .desc {
  margin-top: 8px;
  color: #808080; }

.ranking .ranking-title a {
  color: #333333; }

.main-left .panel .imgs {
  margin-bottom: 6px; }

.main-left .panel .imgs li {
  float: left;
  margin-top: 6px;
  margin-left: 6px;
  width: 92px;
  height: 92px; }

.main-left .panel .imgs li img {
  width: 92px;
  height: 92px; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.main-left .panel .imgs li:nth-child(1),
.main-left .panel .imgs li:nth-child(1) img {
  width: 190px;
  height: 190px; }

.load.none {
  display: none; }

.videobox {
  margin-bottom: 12px;
  width: 500px;
  height: 282px; }

.videobox video {
  width: 500px;
  height: 282px; }

.loadmore {
  margin-bottom: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  background-color: #333;
  color: #d29510 !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }

.line {
  display: block;
  margin: 0 6px;
  width: 1px;
  height: 12px;
  background-color: #d9d9d9; }

.main-right * {
  background-repeat: no-repeat;
  font-size: 12px;
  color: #333; }

a:hover {
  color: #d29510; }

.main-right .pic-gallery {
  margin: 6px 0 0 6px;
  display: flex; }

.main-right .pic-gallery li {
  margin: 0 6px 6px 0;
  width: 143px; }

.pic-gallery li .poster {
  height: 194px;
  overflow: hidden; }

.pic-gallery li .poster img {
  width: 143px; }

.pic-gallery li .poster {
  font-size: 0; }

.pic-gallery li .info {
  padding: 6px 10px;
  color: #333;
  background-color: #f2f2f5; }

.pic-gallery li .info .title,
.pic-gallery li .info .subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.pic-gallery li .info .title {
  font-size: 14px;
  font-weight: bold; }

.pic-gallery li .info .subtitle {
  margin-bottom: 7px; }

.pic-gallery .option {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.pic-gallery li .option .icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: -3px;
  /* border: 1px solid red; */ }

.pic-gallery li .option a {
  color: #333; }

.main-right .panel.message .container {
  padding: 20px 20px 8px 20px;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/index/jinli_pc_x2.png?version=468c348bbcfa36d0);
  background-size: contain;
  background-position: top right; }

.main-right .container .avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden; }

.main-right .container .avatar img {
  width: 50px; }

.main-right .container .mesinfo {
  margin-left: 60px; }

.main-right .container .mesinfo .name {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold; }

.main-right .container .mesinfo .name .icon {
  display: inline-block;
  vertical-align: -2px;
  width: 16px;
  height: 16px;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/common/icon-x2.png?id=172020181229);
  background-size: 615px; }

.main-right .container .mesinfo .name .icon.vip {
  background-position: 0px -293px; }

.main-right .container .mesinfo .name .icon.level {
  background-position: -24px -122px; }

.main-right .container .mesinfo .time,
.main-right .container .mesinfo .time a {
  margin-bottom: 5px;
  color: #999; }

.main-right .container .mesinfo .text {
  margin-bottom: 5px;
  font-size: 14px;
  /* line-height: 20px; */ }

.main-right .container .mesinfo .text a {
  color: #d29510;
  font-size: 14px; }

.main-right .container .mesinfo .text .icon {
  display: inline-block;
  vertical-align: -4px;
  width: 18px;
  height: 18px; }

.icon.heart {
  background-image: url(https://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/8a/2018new_xin_org.png);
  background-size: contain; }

.icon.haji {
  background-image: url(https://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/df/lxhxiudada_org.gif);
  background-size: contain; }

.main-right .container .mesinfo .text .icon.video {
  padding-left: 6px;
  text-align: right;
  vertical-align: -2px; }

.icon.video .iconfont {
  color: #d29510; }

.main-right .panel.message .content:last-child a {
  color: #d29510; }

.main-right .panel.message .content:last-child .iconfont {
  color: #d29510;
  vertical-align: -2px; }

.main-right .panel.message .panel-footer ul {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */ }

.main-right .panel.message .panel-footer li {
  margin-top: 4px;
  flex: 1;
  text-align: center;
  height: 22px;
  border-right: #d9d9d9 1px solid; }

.main-right .panel.message .panel-footer li:last-child {
  border: none; }

.main-right .panel.message .panel-footer li .iconfont {
  font-size: 14px; }

.main-right .panel.message .panel-footer li .iconfont:hover {
  color: #d29510; }

.icon.jinli {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -4px;
  background-image: url(https://img.t.sinajs.cn/t6/style/images/common/icon-x2.png?id=172020181229);
  background-size: 615px;
  background-position: -589px -172px; }

